.footercontenedor {
  background-color: white;
  text-align: center;
}

.footerlogo {
  margin-top: 20px;
}

.foooterredes {
  margin-top: 20px;
}

.foooterredes a {
  text-decoration: none;
  margin: 0 10px;
  color: #333;
}

.footertexto {
  margin-top: 20px;
}
