<!doctype html>
<html lang="es">
<head>
  <title>usuario Nuevo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <div class="barra" id="menu">
  </div>
  <script src="./js/menu.js"></script>   
  <link rel="stylesheet" href="./css/menu.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="./css/usuario.css">
  <main>
    <div class="container" id="app">
       <form  style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
        <h1>Alta de Usuario</h1>
          <!-- usuario,clave,apellidos,nombres,mail,rol,fecha_alta,activo,empresa -->
        <div class="mb-3">
          <label for="usuario">Nombre de Usuario</label>
          <input type="text" name="usuario" id="usuario" v-model="usuario">
        </div>
        <div class="mb-3">
          <label for="clave">Contraseña</label>
          <input type="password" name="clave" id="clave" v-model="clave">
        </div>
        <div class="mb-3">
          <label for="apellidos">Apellidos</label>
          <input type="text" name="apellidos" id="apellidos" v-model="apellidos">
        </div>
        <div class="mb-3">
          <label for="nombres">Nombres</label>
          <input type="text" name="nombres" id="nombres" v-model="nombres">
        </div>
        <div class="mb-3">
            <label for="mail">Mail</label>
            <input type="text" name="mail" id="mail" v-model="mail">
          </div>
          <div class="mb-3">
            <label for="rol">Rol</label>
            <!--input type="number" name="rol" id="rol" v-model="rol"-->
            <select class="form-select" id="rol" v-model="rol">
              <option value="1">Administrador</option>
              <option value="2">Usuario</option>
              <option value="3">Supervisor</option>

            </select>  
          </div> 
          <div class="mb-3">
            <label for="activo">Estado</label>
            <!--input type="number" name="activo" id="activo" v-model="activo"-->
            <select class="form-select" id="activo" v-model="activo">
              <option value="1">Activo</option>
              <option value="2">Bloqueado</option>
            </select>  

          </div>
          <div class="mb-3">
            <label for="empresa">Empresa</label>
            <select class="form-select" id="empresa" v-model="empresa">
              <option value="1">Peugeot Argentina S.A.</option>
              <option value="2">Carrefour S.A.</option>
              <option value="3">Dexter Shop S.A.</option>
              <option value="4">la Mexicana</option>
            </select>
            <!--input type="number" name="empresa" id="empresa" v-model="empresa"-->
          </div>
          <button type="button" class="btn btn-success" v-on:click="grabar()">Grabar</button>
      </form>
    </div>
  </main>
  <footer id="pie" name="pie"> 
        
  </footer>
  <script src="./js/pie.js"></script>
  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <!--script src="./js/main.js"></script!-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/usuario.js"></script>
</body>
</html>
